body {
    margin: 0;
    padding: 0;
    top: 0;
    background-color: #333333; /* White background */
}

.container {
    background-color: #333333; /* Dark grey background */
    margin: 0 auto;
    padding: 20px;
}

/*.form {
    max-width: 800px;
    margin: 0;
}
*/
.form div {
    margin-bottom: 12px;
}

.form label {
    display: block;
    float: left;
    color: #ffffff;
    font-size: 20px;
}

.form input[type="checkbox"],
.form input[type="text"],
.form input[type="password"],
.form input[type="number"]{
    cursor: default;
    appearance: auto;
    position: relative;
    border-radius: 6px;
    margin: 0 0 5px 0;
/*    border: 2px solid #609;
    padding: 20px;
    width: 200px;
    height: 15px;    */
}

.form input[type="text"],
.form input[type="password"],
.form input[type="number"]{
  width: 580px;
}

.form textarea{
  cursor: default;
  appearance: auto;
  position: relative;
  width: 580px;
  border-radius: 6px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.grid{
  display: inline-grid;
  grid-template-columns: auto auto;
  background-color: #1d2533;
  padding: 5px;
}

.column1{
  margin-left:20px;
}

#content{
  background: #1d2533;
}


.column1{
  background: #454b54;
  padding: 6px 0 6px 20px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.column2{
  background: #454b54;
  padding: 6px 3px 2px 0;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.heading{
   text-align: right !important
}
